@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f1f1f1;
  --bg-color-container: white;
  --text-color: black;
  --text-color-secondary: #82828a;
  --menu-bg: #f1f1f1;
  --hover-icon: #44c6b2;
}

[data-theme="dark"] {
  --bg-color: #000;
  --bg-color-container: #18181b;
  --text-color: white;
  --text-color-secondary: #82828a;
  --menu-bg: #252529;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--menu-bg);
}

.active {
  opacity: 1;
  border: 1px solid var(--hover-icon);
}
